<% provide(:title, "Registration") %>

<h2>New User Registration</h2>

<div id="main_layout">
  <form action="users/register" method="post">
    <div id="left_layout">
        New Username:<br>
        <input type="text" name="new_username"><br><br>
        Password:<br>
        <input type="password" name="new_password"><br><br>
        Confirm Password:<br>
        <input type="password" name="new_password_confirm"><br><br>
        Email Address:<br>
        <input type="text" name="email_address"><br><br><br>
    </div>

    <div id="bottom_layout">
      <input class="button" type="submit" value="Submit">
      <button class="button" onclick="location.href='/users/login'; return false;">Cancel</button>
    </div>
  </form> 
</div>