<% provide(:title, "Welcome") %>

<h2>Welcome <%= session[:user][:user_name] %></h2>

<% if flash[:notice] %>
  <div id="success_notice">
    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="main_layout">




</div>