<span class="span_left_align">* Entry Date:</span>
<span class="span_right_align"><%= f.date_select :entry_date, 
  { start_year: Time.now.getlocal.year - 1, end_year: Time.now.getlocal.year + 1, use_short_month: true, order: [:month, :day, :year],
    default: { :month => Time.now.getlocal.month, :day => Time.now.getlocal.day, :year => Time.now.getlocal.year } } %>
</span><br><br>