/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #E6E6FA;
  font-family: arial, sans-serif;
  font-size: medium;
  text-align: center;
}

div {
  font-size: inherit;
}

.button {
  width: 80px;
  padding: 2px 0 2px 0;
  margin: 0 10px 0 10px;
  border-color: #000000;
}

.button:hover {
  background-color: #B0C4DE;
}

.text_field {
  width: 150px;
  height: 18px;
}

.span_left_align {
  float: left;
  font-size: medium;
  height: 20px;
  margin: 4px 0 0 4px;
  /* background-color: dodgerblue;  */  /* For diagnostics only */
}

.span_right_align {
  float: right;
  font-size: medium;
  height: 20px;
  margin: 4px 4px 0 0;
  /* background-color: magenta;  */  /* For diagnostics only  */
}

.span_right_align_table {
  float: right;
  font-size: small;
  margin-right: 20px;
}

.dollar_text_field {
  width: 150px;
  height: 18px;
  text-align: right;
}

#entries_table {
  height: 400px;
  font-size: small;
  text-align: center;
  border: solid 1px black;
  overflow: auto;
}

.entries_columns {
  min-width: 100px;
  max-width: 100px;
  border: solid 1px black;
}

.left_align_paragraph {
  text-align: left;
}

#main_layout {
  display: inline-block;
  height: 600px;
  width: 800px;
  text-align: center;
  /* background-color: pink;  */  /* For diagnostics only */
}

#left_menu {
  float: left;
  margin: 25px 50px 25px 25px;
  height: 400px;
  width: 150px;
  text-align: left;
  font-size: medium;
  /* background-color: yellow;  */  /* For diagnostics only */
}

#center_private_layout {
  float: left;
  font-size: inherit;
  text-align: left;
  margin: 20px 0 0 0;
  width: 500px;
  /* background-color: lightskyblue;  */  /* For diagnostics only */
}

#center_public_layout {
  display: inline-block;
  text-align: left;
  font-size: inherit;
  margin: 20px 0 0 0;
  /* background-color: greenyellow;  */  /* For diagnostics only */
}

#bottom_layout {
  clear: both;
  /* background-color: peru;  */  /* For diagnostics only */
}

#error_notice {
  color: #FF0000;
}

#success_notice {
  color: #008000;
}

#select_account {
  font-size: 95%;
}

#highlight_text {
  background-color: #FFFF00
}